
/*
# is used for id
dot (.) is used for class

if same CSS is used in multiple , use CLASS instead on ID
*/

/*/

#sp {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
/* this css only apply on second paragraph

#tp {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* this css only apply on third paragraph*/

.large-font {
    background-color: dodgerblue;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#headingDiv {
    height: auto;
    min-height: 30px;
    width:200px;
    height: auto !important;
    height: 30px;
    background-color:tomato;
}
