.container
{
    background-color: azure;
    padding:5px;
    width: 50%;
    text-align: center;
   }
              
input[type=text],input[type=password],input[type=date],input[type=email], select, textarea {
    padding: 5px;
    border-radius: 4px;
    resize: vertical;
    width: 60%;
    font-size: 11pt;
    text-align: left;
  }
               

.label
{
   float: left;
   width : 25%;
   margin-top: 4px;
   font-size:12pt;
   text-align: right;
}

.control
{
   float: left;
   width: 75%;
   margin-top: 4px;
   text-align:left;
}