/* # for id
. for class*/

#fp{
 font-size: 30px;
 font-family:fantasy ;
}
#sp{
    font-size: 30px;
    font-family:cursive ;
   }
#tp{
    font-size: 30px;
    font-family:fantasy ;
   }

.large-cursive{
    font-size: 30px;
    font-family:cursive ;
}