@{
    ViewData["Title"] = "Create";
}

<!-- we are already in Employee/Create url so only /Create should do -->
<!-- <form action="@Url.Action("Create","Employee")" method="POST"> -->
<form action="/Employee/Create" method="POST">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="FirstName" id="firstName" placeholder="Enter First Name">
    <small id="firstName" class="form-text text-muted"></small>
  </div>
 <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name = "LastName" id="lastName" placeholder="Enter Last Name">
    <small id="lastName" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="dob">DOB</label>
    <input type="date" class="form-control" name="Dob" id="dob" placeholder="Enter your DOB">
    <small id="dob" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary">Insert</button>
</form>