@model EmployeeViewModel

<form action="/Employee/Create" method="POST">
<div>
  <select asp-for="DepartmentId" asp-items="Model.DD_Departments" class="form-control">
    <option>Select Department</option>
  </select>
</div> 
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="FirstName" placeholder="Enter First Name">
   
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name="LastName" placeholder="Enter Last Name">
  </div>

  <div class="form-group">
    <label for="dateOfBirst">Last Name</label>
    <input type="date" class="form-control" name="Dob" placeholder="Enter Date of Birth">
  </div>

  <button type="Submit" class="btn btn-primary">Insert</button>
</form>