@using MvcDemo.Models;
@model IEnumerable<EmployeeViewModel>

<a class="btn btn-success" asp-action="Create">New Employee</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">@Html.DisplayNameFor(x => x.FirstName)</th>
      <th asp-for="LastName" scope="col"></th>
      <th asp-for="DOB" scope="col"></th>
      <th asp-for="DepartmentName" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @for(int i = 0; i < Model.Count(); i++)
    {
      var employee = Model.ElementAt(i);
      <partial name="_Row" model=@employee/>
    }    
  </tbody>
</table>