<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>@ViewData["Title"] - MvcDemo</title> -->
    <title>@ViewData["Title"]</title> 
     <!--title has been set in the cshtml files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcDemo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <!-- asp-area="" asp-controller="Home" asp-action="Index">Home  helps to create link-->
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Gallery">My Gallery</a>
                            <!-- asp-area="" asp-controller="Home" asp-action="Index">Home  helps to create link-->
                        </li>                     
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Employee</a>
                            <div class="dropdown-menu border border-dark pill" style="background:linear-gradient(0deg, #ffffff 0%, #e9e9e9 100%)">
                                 <a class="dropdown-item font-weight-bold lead pt-md-4" asp-area="" asp-controller="Employee" asp-action="Create">Create</a> .
                                 <div class="dropdown-divider border border-dark"></div>
                                 <a class="dropdown-item font-weight-bold lead pt-md-4 pb-4" asp-area="" asp-controller="Employee" asp-action="EmployeeList">List All</a>      
                            </div>                            
                        </li>  

                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Department</a>
                            <div class="dropdown-menu border border-dark pill" style="background:linear-gradient(0deg, #ffffff 0%, #e9e9e9 100%)">
                                 <a class="dropdown-item font-weight-bold lead pt-md-4" asp-area="" asp-controller="Department" asp-action="CreateDepartment">Create</a> .
                                 <div class="dropdown-divider border border-dark"></div>
                                 <a class="dropdown-item font-weight-bold lead pt-md-4 pb-4" asp-area="" asp-controller="Department" asp-action="DepartmentList">List All</a>      
                            </div>                            
                        </li>                                 
                    </ul>
                </div>
                <div> 
                <a class = "nav-link btn btn-success" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                </div>  
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MvcDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
